@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  color: inherit;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

br {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}

.text-primary {
  color: #326dee;
}

.bd-primary {
  background-color: #326dee;
}

.text-primary-light-index {
  color: #477cf0;
}

.bd-primary-light-index {
  background-color: #477cf0;
}

.text-primary-light-index {
  color: #5b8af1;
}

.bd-primary-light-index {
  background-color: #5b8af1;
}

.text-primary-light-index {
  color: #7099f3;
}

.bd-primary-light-index {
  background-color: #7099f3;
}

.text-primary-light-index {
  color: #84a7f5;
}

.bd-primary-light-index {
  background-color: #84a7f5;
}

.text-primary-light-index {
  color: #99b6f7;
}

.bd-primary-light-index {
  background-color: #99b6f7;
}

.text-primary-light-index {
  color: #adc5f8;
}

.bd-primary-light-index {
  background-color: #adc5f8;
}

.text-primary-light-index {
  color: #c2d3fa;
}

.bd-primary-light-index {
  background-color: #c2d3fa;
}

.text-primary-light-index {
  color: #d6e2fc;
}

.bd-primary-light-index {
  background-color: #d6e2fc;
}

.text-primary-light-index {
  color: #ebf0fd;
}

.bd-primary-light-index {
  background-color: #ebf0fd;
}

.text-primary-dark-index {
  color: #2d62d6;
}

.bd-primary-dark-index {
  background-color: #2d62d6;
}

.text-primary-dark-index {
  color: #2857be;
}

.bd-primary-dark-index {
  background-color: #2857be;
}

.text-primary-dark-index {
  color: #234ca7;
}

.bd-primary-dark-index {
  background-color: #234ca7;
}

.text-primary-dark-index {
  color: #1e418f;
}

.bd-primary-dark-index {
  background-color: #1e418f;
}

.text-primary-dark-index {
  color: #193777;
}

.bd-primary-dark-index {
  background-color: #193777;
}

.text-primary-dark-index {
  color: #142c5f;
}

.bd-primary-dark-index {
  background-color: #142c5f;
}

.text-primary-dark-index {
  color: #0f2147;
}

.bd-primary-dark-index {
  background-color: #0f2147;
}

.text-primary-dark-index {
  color: #0a1630;
}

.bd-primary-dark-index {
  background-color: #0a1630;
}

.text-primary-dark-index {
  color: #050b18;
}

.bd-primary-dark-index {
  background-color: #050b18;
}

.text-secondary {
  color: #1ac888;
}

.bd-secondary {
  background-color: #1ac888;
}

.text-secondary-light-index {
  color: #31ce94;
}

.bd-secondary-light-index {
  background-color: #31ce94;
}

.text-secondary-light-index {
  color: #48d3a0;
}

.bd-secondary-light-index {
  background-color: #48d3a0;
}

.text-secondary-light-index {
  color: #5fd9ac;
}

.bd-secondary-light-index {
  background-color: #5fd9ac;
}

.text-secondary-light-index {
  color: #76deb8;
}

.bd-secondary-light-index {
  background-color: #76deb8;
}

.text-secondary-light-index {
  color: #8de4c4;
}

.bd-secondary-light-index {
  background-color: #8de4c4;
}

.text-secondary-light-index {
  color: #a3e9cf;
}

.bd-secondary-light-index {
  background-color: #a3e9cf;
}

.text-secondary-light-index {
  color: #baefdb;
}

.bd-secondary-light-index {
  background-color: #baefdb;
}

.text-secondary-light-index {
  color: #d1f4e7;
}

.bd-secondary-light-index {
  background-color: #d1f4e7;
}

.text-secondary-light-index {
  color: #e8faf3;
}

.bd-secondary-light-index {
  background-color: #e8faf3;
}

.text-secondary-dark-index {
  color: #17b47a;
}

.bd-secondary-dark-index {
  background-color: #17b47a;
}

.text-secondary-dark-index {
  color: #15a06d;
}

.bd-secondary-dark-index {
  background-color: #15a06d;
}

.text-secondary-dark-index {
  color: #128c5f;
}

.bd-secondary-dark-index {
  background-color: #128c5f;
}

.text-secondary-dark-index {
  color: #107852;
}

.bd-secondary-dark-index {
  background-color: #107852;
}

.text-secondary-dark-index {
  color: #0d6444;
}

.bd-secondary-dark-index {
  background-color: #0d6444;
}

.text-secondary-dark-index {
  color: #0a5036;
}

.bd-secondary-dark-index {
  background-color: #0a5036;
}

.text-secondary-dark-index {
  color: #083c29;
}

.bd-secondary-dark-index {
  background-color: #083c29;
}

.text-secondary-dark-index {
  color: #05281b;
}

.bd-secondary-dark-index {
  background-color: #05281b;
}

.text-secondary-dark-index {
  color: #03140e;
}

.bd-secondary-dark-index {
  background-color: #03140e;
}

.text-error {
  color: #d43782;
}

.bd-error {
  background-color: #d43782;
}

.text-error-light-index {
  color: #d84b8f;
}

.bd-error-light-index {
  background-color: #d84b8f;
}

.text-error-light-index {
  color: #dd5f9b;
}

.bd-error-light-index {
  background-color: #dd5f9b;
}

.text-error-light-index {
  color: #e173a8;
}

.bd-error-light-index {
  background-color: #e173a8;
}

.text-error-light-index {
  color: #e587b4;
}

.bd-error-light-index {
  background-color: #e587b4;
}

.text-error-light-index {
  color: #ea9bc1;
}

.bd-error-light-index {
  background-color: #ea9bc1;
}

.text-error-light-index {
  color: #eeafcd;
}

.bd-error-light-index {
  background-color: #eeafcd;
}

.text-error-light-index {
  color: #f2c3da;
}

.bd-error-light-index {
  background-color: #f2c3da;
}

.text-error-light-index {
  color: #f6d7e6;
}

.bd-error-light-index {
  background-color: #f6d7e6;
}

.text-error-light-index {
  color: #fbebf3;
}

.bd-error-light-index {
  background-color: #fbebf3;
}

.text-error-dark-index {
  color: #bf3275;
}

.bd-error-dark-index {
  background-color: #bf3275;
}

.text-error-dark-index {
  color: #aa2c68;
}

.bd-error-dark-index {
  background-color: #aa2c68;
}

.text-error-dark-index {
  color: #94275b;
}

.bd-error-dark-index {
  background-color: #94275b;
}

.text-error-dark-index {
  color: #7f214e;
}

.bd-error-dark-index {
  background-color: #7f214e;
}

.text-error-dark-index {
  color: #6a1c41;
}

.bd-error-dark-index {
  background-color: #6a1c41;
}

.text-error-dark-index {
  color: #551634;
}

.bd-error-dark-index {
  background-color: #551634;
}

.text-error-dark-index {
  color: #401127;
}

.bd-error-dark-index {
  background-color: #401127;
}

.text-error-dark-index {
  color: #2a0b1a;
}

.bd-error-dark-index {
  background-color: #2a0b1a;
}

.text-error-dark-index {
  color: #15060d;
}

.bd-error-dark-index {
  background-color: #15060d;
}

.text-info {
  color: #e6c31c;
}

.bd-info {
  background-color: #e6c31c;
}

.text-info-light-index {
  color: #e9c933;
}

.bd-info-light-index {
  background-color: #e9c933;
}

.text-info-light-index {
  color: #ebcf49;
}

.bd-info-light-index {
  background-color: #ebcf49;
}

.text-info-light-index {
  color: #eed560;
}

.bd-info-light-index {
  background-color: #eed560;
}

.text-info-light-index {
  color: #f0db77;
}

.bd-info-light-index {
  background-color: #f0db77;
}

.text-info-light-index {
  color: #f3e18e;
}

.bd-info-light-index {
  background-color: #f3e18e;
}

.text-info-light-index {
  color: #f5e7a4;
}

.bd-info-light-index {
  background-color: #f5e7a4;
}

.text-info-light-index {
  color: #f8edbb;
}

.bd-info-light-index {
  background-color: #f8edbb;
}

.text-info-light-index {
  color: #faf3d2;
}

.bd-info-light-index {
  background-color: #faf3d2;
}

.text-info-light-index {
  color: #fdf9e8;
}

.bd-info-light-index {
  background-color: #fdf9e8;
}

.text-info-dark-index {
  color: #cfb019;
}

.bd-info-dark-index {
  background-color: #cfb019;
}

.text-info-dark-index {
  color: #b89c16;
}

.bd-info-dark-index {
  background-color: #b89c16;
}

.text-info-dark-index {
  color: #a18914;
}

.bd-info-dark-index {
  background-color: #a18914;
}

.text-info-dark-index {
  color: #8a7511;
}

.bd-info-dark-index {
  background-color: #8a7511;
}

.text-info-dark-index {
  color: #73620e;
}

.bd-info-dark-index {
  background-color: #73620e;
}

.text-info-dark-index {
  color: #5c4e0b;
}

.bd-info-dark-index {
  background-color: #5c4e0b;
}

.text-info-dark-index {
  color: #453b08;
}

.bd-info-dark-index {
  background-color: #453b08;
}

.text-info-dark-index {
  color: #2e2706;
}

.bd-info-dark-index {
  background-color: #2e2706;
}

.text-info-dark-index {
  color: #171403;
}

.bd-info-dark-index {
  background-color: #171403;
}

.text-blue {
  color: #191936;
}

.bd-blue {
  background-color: #191936;
}

.text-blue-light-index {
  color: #30304a;
}

.bd-blue-light-index {
  background-color: #30304a;
}

.text-blue-light-index {
  color: #47475e;
}

.bd-blue-light-index {
  background-color: #47475e;
}

.text-blue-light-index {
  color: #5e5e72;
}

.bd-blue-light-index {
  background-color: #5e5e72;
}

.text-blue-light-index {
  color: #757586;
}

.bd-blue-light-index {
  background-color: #757586;
}

.text-blue-light-index {
  color: #8c8c9b;
}

.bd-blue-light-index {
  background-color: #8c8c9b;
}

.text-blue-light-index {
  color: #a3a3af;
}

.bd-blue-light-index {
  background-color: #a3a3af;
}

.text-blue-light-index {
  color: #babac3;
}

.bd-blue-light-index {
  background-color: #babac3;
}

.text-blue-light-index {
  color: #d1d1d7;
}

.bd-blue-light-index {
  background-color: #d1d1d7;
}

.text-blue-light-index {
  color: #e8e8eb;
}

.bd-blue-light-index {
  background-color: #e8e8eb;
}

.text-blue-dark-index {
  color: #171731;
}

.bd-blue-dark-index {
  background-color: #171731;
}

.text-blue-dark-index {
  color: #14142b;
}

.bd-blue-dark-index {
  background-color: #14142b;
}

.text-blue-dark-index {
  color: #121226;
}

.bd-blue-dark-index {
  background-color: #121226;
}

.text-blue-dark-index {
  color: #0f0f20;
}

.bd-blue-dark-index {
  background-color: #0f0f20;
}

.text-blue-dark-index {
  color: #0d0d1b;
}

.bd-blue-dark-index {
  background-color: #0d0d1b;
}

.text-blue-dark-index {
  color: #0a0a16;
}

.bd-blue-dark-index {
  background-color: #0a0a16;
}

.text-blue-dark-index {
  color: #080810;
}

.bd-blue-dark-index {
  background-color: #080810;
}

.text-blue-dark-index {
  color: #05050b;
}

.bd-blue-dark-index {
  background-color: #05050b;
}

.text-blue-dark-index {
  color: #030305;
}

.bd-blue-dark-index {
  background-color: #030305;
}

.text-red {
  color: red;
}

.bd-red {
  background-color: red;
}

.text-red-light-index {
  color: #ff1a1a;
}

.bd-red-light-index {
  background-color: #ff1a1a;
}

.text-red-light-index {
  color: #ff3333;
}

.bd-red-light-index {
  background-color: #ff3333;
}

.text-red-light-index {
  color: #ff4d4d;
}

.bd-red-light-index {
  background-color: #ff4d4d;
}

.text-red-light-index {
  color: #ff6666;
}

.bd-red-light-index {
  background-color: #ff6666;
}

.text-red-light-index {
  color: #ff8080;
}

.bd-red-light-index {
  background-color: #ff8080;
}

.text-red-light-index {
  color: #ff9999;
}

.bd-red-light-index {
  background-color: #ff9999;
}

.text-red-light-index {
  color: #ffb3b3;
}

.bd-red-light-index {
  background-color: #ffb3b3;
}

.text-red-light-index {
  color: #ffcccc;
}

.bd-red-light-index {
  background-color: #ffcccc;
}

.text-red-light-index {
  color: #ffe6e6;
}

.bd-red-light-index {
  background-color: #ffe6e6;
}

.text-red-dark-index {
  color: #e60000;
}

.bd-red-dark-index {
  background-color: #e60000;
}

.text-red-dark-index {
  color: #cc0000;
}

.bd-red-dark-index {
  background-color: #cc0000;
}

.text-red-dark-index {
  color: #b30000;
}

.bd-red-dark-index {
  background-color: #b30000;
}

.text-red-dark-index {
  color: #990000;
}

.bd-red-dark-index {
  background-color: #990000;
}

.text-red-dark-index {
  color: maroon;
}

.bd-red-dark-index {
  background-color: maroon;
}

.text-red-dark-index {
  color: #660000;
}

.bd-red-dark-index {
  background-color: #660000;
}

.text-red-dark-index {
  color: #4d0000;
}

.bd-red-dark-index {
  background-color: #4d0000;
}

.text-red-dark-index {
  color: #330000;
}

.bd-red-dark-index {
  background-color: #330000;
}

.text-red-dark-index {
  color: #1a0000;
}

.bd-red-dark-index {
  background-color: #1a0000;
}

.text-yellow {
  color: yellow;
}

.bd-yellow {
  background-color: yellow;
}

.text-yellow-light-index {
  color: #ffff1a;
}

.bd-yellow-light-index {
  background-color: #ffff1a;
}

.text-yellow-light-index {
  color: #ffff33;
}

.bd-yellow-light-index {
  background-color: #ffff33;
}

.text-yellow-light-index {
  color: #ffff4d;
}

.bd-yellow-light-index {
  background-color: #ffff4d;
}

.text-yellow-light-index {
  color: #ffff66;
}

.bd-yellow-light-index {
  background-color: #ffff66;
}

.text-yellow-light-index {
  color: #ffff80;
}

.bd-yellow-light-index {
  background-color: #ffff80;
}

.text-yellow-light-index {
  color: #ffff99;
}

.bd-yellow-light-index {
  background-color: #ffff99;
}

.text-yellow-light-index {
  color: #ffffb3;
}

.bd-yellow-light-index {
  background-color: #ffffb3;
}

.text-yellow-light-index {
  color: #ffffcc;
}

.bd-yellow-light-index {
  background-color: #ffffcc;
}

.text-yellow-light-index {
  color: #ffffe6;
}

.bd-yellow-light-index {
  background-color: #ffffe6;
}

.text-yellow-dark-index {
  color: #e6e600;
}

.bd-yellow-dark-index {
  background-color: #e6e600;
}

.text-yellow-dark-index {
  color: #cccc00;
}

.bd-yellow-dark-index {
  background-color: #cccc00;
}

.text-yellow-dark-index {
  color: #b3b300;
}

.bd-yellow-dark-index {
  background-color: #b3b300;
}

.text-yellow-dark-index {
  color: #999900;
}

.bd-yellow-dark-index {
  background-color: #999900;
}

.text-yellow-dark-index {
  color: olive;
}

.bd-yellow-dark-index {
  background-color: olive;
}

.text-yellow-dark-index {
  color: #666600;
}

.bd-yellow-dark-index {
  background-color: #666600;
}

.text-yellow-dark-index {
  color: #4d4d00;
}

.bd-yellow-dark-index {
  background-color: #4d4d00;
}

.text-yellow-dark-index {
  color: #333300;
}

.bd-yellow-dark-index {
  background-color: #333300;
}

.text-yellow-dark-index {
  color: #1a1a00;
}

.bd-yellow-dark-index {
  background-color: #1a1a00;
}

.text-green {
  color: green;
}

.bd-green {
  background-color: green;
}

.text-green-light-index {
  color: #1a8d1a;
}

.bd-green-light-index {
  background-color: #1a8d1a;
}

.text-green-light-index {
  color: #339933;
}

.bd-green-light-index {
  background-color: #339933;
}

.text-green-light-index {
  color: #4da64d;
}

.bd-green-light-index {
  background-color: #4da64d;
}

.text-green-light-index {
  color: #66b366;
}

.bd-green-light-index {
  background-color: #66b366;
}

.text-green-light-index {
  color: #80c080;
}

.bd-green-light-index {
  background-color: #80c080;
}

.text-green-light-index {
  color: #99cc99;
}

.bd-green-light-index {
  background-color: #99cc99;
}

.text-green-light-index {
  color: #b3d9b3;
}

.bd-green-light-index {
  background-color: #b3d9b3;
}

.text-green-light-index {
  color: #cce6cc;
}

.bd-green-light-index {
  background-color: #cce6cc;
}

.text-green-light-index {
  color: #e6f2e6;
}

.bd-green-light-index {
  background-color: #e6f2e6;
}

.text-green-dark-index {
  color: #007300;
}

.bd-green-dark-index {
  background-color: #007300;
}

.text-green-dark-index {
  color: #006600;
}

.bd-green-dark-index {
  background-color: #006600;
}

.text-green-dark-index {
  color: #005a00;
}

.bd-green-dark-index {
  background-color: #005a00;
}

.text-green-dark-index {
  color: #004d00;
}

.bd-green-dark-index {
  background-color: #004d00;
}

.text-green-dark-index {
  color: #004000;
}

.bd-green-dark-index {
  background-color: #004000;
}

.text-green-dark-index {
  color: #003300;
}

.bd-green-dark-index {
  background-color: #003300;
}

.text-green-dark-index {
  color: #002600;
}

.bd-green-dark-index {
  background-color: #002600;
}

.text-green-dark-index {
  color: #001a00;
}

.bd-green-dark-index {
  background-color: #001a00;
}

.text-green-dark-index {
  color: #000d00;
}

.bd-green-dark-index {
  background-color: #000d00;
}

.text-orange {
  color: orange;
}

.bd-orange {
  background-color: orange;
}

.text-orange-light-index {
  color: #ffae1a;
}

.bd-orange-light-index {
  background-color: #ffae1a;
}

.text-orange-light-index {
  color: #ffb733;
}

.bd-orange-light-index {
  background-color: #ffb733;
}

.text-orange-light-index {
  color: #ffc04d;
}

.bd-orange-light-index {
  background-color: #ffc04d;
}

.text-orange-light-index {
  color: #ffc966;
}

.bd-orange-light-index {
  background-color: #ffc966;
}

.text-orange-light-index {
  color: #ffd280;
}

.bd-orange-light-index {
  background-color: #ffd280;
}

.text-orange-light-index {
  color: #ffdb99;
}

.bd-orange-light-index {
  background-color: #ffdb99;
}

.text-orange-light-index {
  color: #ffe4b3;
}

.bd-orange-light-index {
  background-color: #ffe4b3;
}

.text-orange-light-index {
  color: #ffedcc;
}

.bd-orange-light-index {
  background-color: #ffedcc;
}

.text-orange-light-index {
  color: #fff6e6;
}

.bd-orange-light-index {
  background-color: #fff6e6;
}

.text-orange-dark-index {
  color: #e69500;
}

.bd-orange-dark-index {
  background-color: #e69500;
}

.text-orange-dark-index {
  color: #cc8400;
}

.bd-orange-dark-index {
  background-color: #cc8400;
}

.text-orange-dark-index {
  color: #b37400;
}

.bd-orange-dark-index {
  background-color: #b37400;
}

.text-orange-dark-index {
  color: #996300;
}

.bd-orange-dark-index {
  background-color: #996300;
}

.text-orange-dark-index {
  color: #805300;
}

.bd-orange-dark-index {
  background-color: #805300;
}

.text-orange-dark-index {
  color: #664200;
}

.bd-orange-dark-index {
  background-color: #664200;
}

.text-orange-dark-index {
  color: #4d3200;
}

.bd-orange-dark-index {
  background-color: #4d3200;
}

.text-orange-dark-index {
  color: #332100;
}

.bd-orange-dark-index {
  background-color: #332100;
}

.text-orange-dark-index {
  color: #1a1100;
}

.bd-orange-dark-index {
  background-color: #1a1100;
}

.text-purple {
  color: purple;
}

.bd-purple {
  background-color: purple;
}

.text-purple-light-index {
  color: #8d1a8d;
}

.bd-purple-light-index {
  background-color: #8d1a8d;
}

.text-purple-light-index {
  color: #993399;
}

.bd-purple-light-index {
  background-color: #993399;
}

.text-purple-light-index {
  color: #a64da6;
}

.bd-purple-light-index {
  background-color: #a64da6;
}

.text-purple-light-index {
  color: #b366b3;
}

.bd-purple-light-index {
  background-color: #b366b3;
}

.text-purple-light-index {
  color: #c080c0;
}

.bd-purple-light-index {
  background-color: #c080c0;
}

.text-purple-light-index {
  color: #cc99cc;
}

.bd-purple-light-index {
  background-color: #cc99cc;
}

.text-purple-light-index {
  color: #d9b3d9;
}

.bd-purple-light-index {
  background-color: #d9b3d9;
}

.text-purple-light-index {
  color: #e6cce6;
}

.bd-purple-light-index {
  background-color: #e6cce6;
}

.text-purple-light-index {
  color: #f2e6f2;
}

.bd-purple-light-index {
  background-color: #f2e6f2;
}

.text-purple-dark-index {
  color: #730073;
}

.bd-purple-dark-index {
  background-color: #730073;
}

.text-purple-dark-index {
  color: #660066;
}

.bd-purple-dark-index {
  background-color: #660066;
}

.text-purple-dark-index {
  color: #5a005a;
}

.bd-purple-dark-index {
  background-color: #5a005a;
}

.text-purple-dark-index {
  color: #4d004d;
}

.bd-purple-dark-index {
  background-color: #4d004d;
}

.text-purple-dark-index {
  color: #400040;
}

.bd-purple-dark-index {
  background-color: #400040;
}

.text-purple-dark-index {
  color: #330033;
}

.bd-purple-dark-index {
  background-color: #330033;
}

.text-purple-dark-index {
  color: #260026;
}

.bd-purple-dark-index {
  background-color: #260026;
}

.text-purple-dark-index {
  color: #1a001a;
}

.bd-purple-dark-index {
  background-color: #1a001a;
}

.text-purple-dark-index {
  color: #0d000d;
}

.bd-purple-dark-index {
  background-color: #0d000d;
}

.text-gray {
  color: gray;
}

.bd-gray {
  background-color: gray;
}

.text-gray-light-index {
  color: #8d8d8d;
}

.bd-gray-light-index {
  background-color: #8d8d8d;
}

.text-gray-light-index {
  color: #999999;
}

.bd-gray-light-index {
  background-color: #999999;
}

.text-gray-light-index {
  color: #a6a6a6;
}

.bd-gray-light-index {
  background-color: #a6a6a6;
}

.text-gray-light-index {
  color: #b3b3b3;
}

.bd-gray-light-index {
  background-color: #b3b3b3;
}

.text-gray-light-index {
  color: silver;
}

.bd-gray-light-index {
  background-color: silver;
}

.text-gray-light-index {
  color: #cccccc;
}

.bd-gray-light-index {
  background-color: #cccccc;
}

.text-gray-light-index {
  color: #d9d9d9;
}

.bd-gray-light-index {
  background-color: #d9d9d9;
}

.text-gray-light-index {
  color: #e6e6e6;
}

.bd-gray-light-index {
  background-color: #e6e6e6;
}

.text-gray-light-index {
  color: #f2f2f2;
}

.bd-gray-light-index {
  background-color: #f2f2f2;
}

.text-gray-dark-index {
  color: #737373;
}

.bd-gray-dark-index {
  background-color: #737373;
}

.text-gray-dark-index {
  color: #666666;
}

.bd-gray-dark-index {
  background-color: #666666;
}

.text-gray-dark-index {
  color: #5a5a5a;
}

.bd-gray-dark-index {
  background-color: #5a5a5a;
}

.text-gray-dark-index {
  color: #4d4d4d;
}

.bd-gray-dark-index {
  background-color: #4d4d4d;
}

.text-gray-dark-index {
  color: #404040;
}

.bd-gray-dark-index {
  background-color: #404040;
}

.text-gray-dark-index {
  color: #333333;
}

.bd-gray-dark-index {
  background-color: #333333;
}

.text-gray-dark-index {
  color: #262626;
}

.bd-gray-dark-index {
  background-color: #262626;
}

.text-gray-dark-index {
  color: #1a1a1a;
}

.bd-gray-dark-index {
  background-color: #1a1a1a;
}

.text-gray-dark-index {
  color: #0d0d0d;
}

.bd-gray-dark-index {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.bd-black {
  background-color: black;
}

.text-black-light-index {
  color: #1a1a1a;
}

.bd-black-light-index {
  background-color: #1a1a1a;
}

.text-black-light-index {
  color: #333333;
}

.bd-black-light-index {
  background-color: #333333;
}

.text-black-light-index {
  color: #4d4d4d;
}

.bd-black-light-index {
  background-color: #4d4d4d;
}

.text-black-light-index {
  color: #666666;
}

.bd-black-light-index {
  background-color: #666666;
}

.text-black-light-index {
  color: gray;
}

.bd-black-light-index {
  background-color: gray;
}

.text-black-light-index {
  color: #999999;
}

.bd-black-light-index {
  background-color: #999999;
}

.text-black-light-index {
  color: #b3b3b3;
}

.bd-black-light-index {
  background-color: #b3b3b3;
}

.text-black-light-index {
  color: #cccccc;
}

.bd-black-light-index {
  background-color: #cccccc;
}

.text-black-light-index {
  color: #e6e6e6;
}

.bd-black-light-index {
  background-color: #e6e6e6;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-black-dark-index {
  color: black;
}

.bd-black-dark-index {
  background-color: black;
}

.text-white {
  color: white;
}

.bd-white {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-light-index {
  color: white;
}

.bd-white-light-index {
  background-color: white;
}

.text-white-dark-index {
  color: #e6e6e6;
}

.bd-white-dark-index {
  background-color: #e6e6e6;
}

.text-white-dark-index {
  color: #cccccc;
}

.bd-white-dark-index {
  background-color: #cccccc;
}

.text-white-dark-index {
  color: #b3b3b3;
}

.bd-white-dark-index {
  background-color: #b3b3b3;
}

.text-white-dark-index {
  color: #999999;
}

.bd-white-dark-index {
  background-color: #999999;
}

.text-white-dark-index {
  color: gray;
}

.bd-white-dark-index {
  background-color: gray;
}

.text-white-dark-index {
  color: #666666;
}

.bd-white-dark-index {
  background-color: #666666;
}

.text-white-dark-index {
  color: #4d4d4d;
}

.bd-white-dark-index {
  background-color: #4d4d4d;
}

.text-white-dark-index {
  color: #333333;
}

.bd-white-dark-index {
  background-color: #333333;
}

.text-white-dark-index {
  color: #1a1a1a;
}

.bd-white-dark-index {
  background-color: #1a1a1a;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}