// looping through maps

// generate a text color for each color in the color map!!!
@each $key,$val in $colors {
    .text-#{$key}{
        color: $val;
    }
    .bd-#{$key}{
        background-color: $val;
    }

    // light-variations
    // mix white, with a color, and lighten it by 10 * index
    @for $index from 1 through 9 {

        .text-#{$key}-light-#{index}{
            color: mix(white, $val, $index*10);
        }

        .bd-#{$key}-light-#{index}{
            background-color: mix(white, $val, $index*10);
        }

    }

    //dark-variations
    @for $index from 1 through 9 {

        .text-#{$key}-dark-#{index}{
            color: mix(black, $val, $index*10);
        }

        .bd-#{$key}-dark-#{index}{
            background-color: mix(black, $val, $index*10);
        }

    }

}